/* page-not-found.component.css */
.not-found {
  text-align: center;
  margin-top: 50px;
}
.not-found h1 {
  font-size: 2em;
  color: red;
}
.not-found a {
  color: blue;
  text-decoration: underline;
}
